.bar-view{
    width:100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow:1px 1px #d4d4d4 ;
}

.viewpoint{
    width: 100%;
    display: flex;
    margin: 90px;
    justify-content: space-between;
    padding-top: 8px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.viewpoint .viewpoint-inner .viewpoint-inner-top{
    font-size: medium;
}
.viewpoint .viewpoint-inner .viewpoint-inner-bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 40px;
}
.viewpoint .viewpoint-inner .viewpoint-inner-bottom .viewpoint-inner-bottom-left img{
    width: 450px;
    height: 350px;
}
.viewpoint .viewpoint-inner .viewpoint-inner-bottom .viewpoint-inner-bottom-left{
    font-size: medium;
}
    
